{% extends "base.html" %}
{% load static %}
{% block extra_head %}
	<script type="text/javascript" src="{% static "js/admin.js" %}"></script>
	<script type="text/javascript" src="{% static "js/load_clases.js" %}"></script>
	<script>
		fecha = "{{ semana_actual.0|date:"d/m/y" }}"
	</script>
{% endblock %}
{% block content %}
<div class="text-center col-lg-12">
		<div class=" title-main-table">
			 Horarios del 
			 <span class="green">{{ semana_actual.0|date:"d" }}</span> al
			 <span class="green">{{ semana_actual.6|date:"d" }}</span> de
			 <span class="green">{{ semana_actual.0|date:"F \d\e\l Y" }}</span>
		</div> 
		<h1>admin</h1>
	    <table class="week-day-picker table table-striped ">
				<tr>
				{% for dia in semana_actual %}
					{% if dia.weekday == 0 %}
					<td data-fecha="{{ dia|date:"d/m/y" }}" class="escoger-fecha activo" >{{ dia|date:"l" }}
						<div>{{ dia|date:"d" }}</div>
					</td>
					{% else %}
					<td data-fecha="{{ dia|date:"d/m/y" }}" class="escoger-fecha" >{{ dia|date:"l" }}
						<div>{{ dia|date:"d" }}</div>
					</td>
					{% endif %}
				{% endfor %}
				</tr>
	    </table>
	    
	    
	    <div id="saloncitos" class="pull-right">
	<h2>Salones</h2>
	<div data-salon="PARIS" class="PARIS salon-activo"><h5>PARIS</h5></div>
	<div data-salon="BIGROOM" class="BIGROOM"><h5>BIGROOM</h5></div>
	<div data-salon="MIAMI" class="MIAMI"><h5>MIAMI</h></div>
	<div data-salon="LONDON" class="LONDON"><h5>LONDON</h5></div>
	<div data-salon="VEGAS" class="VEGAS"><h5>VEGAS</h5></div>
	<div data-salon="BEIJING" class="BEIJING"><h5>BEIJING</h5></div>
	<div data-salon="NEWYORK" class="NEWYORK"><h5>NEWYORK</h5></div>
	<div data-salon="DYNAMIC" class="DYNAMIC"><h5>DYNAMIC</h5></div>
	<div data-salon="KIDSROOM" class="KIDSROOM"><h5>KIDSROOM</h5></div>

</div>
	    
	    
	    
	    
	    
<div id="tabla-clases" class="tabla-admin">
<div class="pull-left">  	
	<table align="center" border="2" class="hora" >
  	 <tbody>
     	<tr>
            <td rowspan="2">HORA</td>
            <td colspan="10">INGLES</td>
            <td colspan="3">FRANCES</td>
        </tr>
        <tr class="grupos-tr">
            <td>1B</td>
            <td>2B</td>
            <td>3B</td>
            <td>1I</td>
            <td>2I</td>
            <td>3I</td>
            <td>1A</td>
            <td>2A</td>
            <td>3A</td>
            <td>KIDS</td>
            <td>BASICO</td>
            <td>INTERMEDIO</td>
            <td>AVANZADO</td>
         </tr>
         <tr>
         	<td>7:00 am</td>
            <td data-grupo="1B" data-hora="7"  class="clase grupo-1B-hora-7"></td>
            <td data-grupo="2B" data-hora="7"  class="clase grupo-2B-hora-7"></td>
            <td data-grupo="3B" data-hora="7"  class="clase grupo-3B-hora-7"></td>
            <td data-grupo="1I" data-hora="7"  class="clase grupo-1I-hora-7"></td>
            <td data-grupo="2I" data-hora="7"  class="clase grupo-2I-hora-7"></td>
            <td data-grupo="3I" data-hora="7"  class="clase grupo-3I-hora-7"></td>
            <td data-grupo="1A" data-hora="7"  class="clase grupo-1A-hora-7"></td>
            <td data-grupo="2A" data-hora="7"  class="clase grupo-2A-hora-7"></td>
            <td data-grupo="3A" data-hora="7"  class="clase grupo-3A-hora-7"></td>
            <td data-grupo="KIDS" data-hora="7"  class="clase grupo-KIDS-hora-7"></td>
            <td data-grupo="FB" data-hora="7"  class="clase grupo-FB-hora-7"></td>
            <td data-grupo="FI" data-hora="7"  class="clase grupo-FI-hora-7"></td>
            <td data-grupo="FA" data-hora="7"  class="clase grupo-FA-hora-7"></td>
         </tr>
         <tr>
         	<td>8:00 am</td>
            <td data-grupo="1B" data-hora="8"  class="clase grupo-1B-hora-8"></td>
            <td data-grupo="2B" data-hora="8"  class="clase grupo-2B-hora-8"></td>
            <td data-grupo="3B" data-hora="8"  class="clase grupo-3B-hora-8"></td>
            <td data-grupo="1I" data-hora="8"  class="clase grupo-1I-hora-8"></td>
            <td data-grupo="2I" data-hora="8"  class="clase grupo-2I-hora-8"></td>
            <td data-grupo="3I" data-hora="8"  class="clase grupo-3I-hora-8"></td>
            <td data-grupo="1A" data-hora="8"  class="clase grupo-1A-hora-8"></td>
            <td data-grupo="2A" data-hora="8"  class="clase grupo-2A-hora-8"></td>
            <td data-grupo="3A" data-hora="8"  class="clase grupo-3A-hora-8"></td>
            <td data-grupo="KIDS" data-hora="8"  class="clase grupo-KIDS-hora-8"></td>
            <td data-grupo="FB" data-hora="8"  class="clase grupo-FB-hora-8"></td>
            <td data-grupo="FI" data-hora="8"  class="clase grupo-FI-hora-8"></td>
            <td data-grupo="FA" data-hora="8"  class="clase grupo-FA-hora-8"></td>
           
         </tr>
          <tr>
         	<td>9:00 am</td>
            <td data-grupo="1B" data-hora="9"  class="clase grupo-1B-hora-9"></td>
            <td data-grupo="2B" data-hora="9"  class="clase grupo-2B-hora-9"></td>
            <td data-grupo="3B" data-hora="9"  class="clase grupo-3B-hora-9"></td>
            <td data-grupo="1I" data-hora="9"  class="clase grupo-1I-hora-9"></td>
            <td data-grupo="2I" data-hora="9"  class="clase grupo-2I-hora-9"></td>
            <td data-grupo="3I" data-hora="9"  class="clase grupo-3I-hora-9"></td>
            <td data-grupo="1A" data-hora="9"  class="clase grupo-1A-hora-9"></td>
            <td data-grupo="2A" data-hora="9"  class="clase grupo-2A-hora-9"></td>
            <td data-grupo="3A" data-hora="9"  class="clase grupo-3A-hora-9"></td>
            <td data-grupo="KIDS" data-hora="9"  class="clase grupo-KIDS-hora-9"></td>
            <td data-grupo="FB" data-hora="9"  class="clase grupo-FB-hora-9"></td>
            <td data-grupo="FI" data-hora="9"  class="clase grupo-FI-hora-9"></td>
            <td data-grupo="FA" data-hora="9"  class="clase grupo-FA-hora-9"></td>
           
         </tr>
         <tr>
         	<td>10:00 am</td>
            <td data-grupo="1B" data-hora="10"  class="clase grupo-1B-hora-10"></td>
            <td data-grupo="2B" data-hora="10"  class="clase grupo-2B-hora-10"></td>
            <td data-grupo="3B" data-hora="10"  class="clase grupo-3B-hora-10"></td>
            <td data-grupo="1I" data-hora="10"  class="clase grupo-1I-hora-10"></td>
            <td data-grupo="2I" data-hora="10"  class="clase grupo-2I-hora-10"></td>
            <td data-grupo="3I" data-hora="10"  class="clase grupo-3I-hora-10"></td>
            <td data-grupo="1A" data-hora="10"  class="clase grupo-1A-hora-10"></td>
            <td data-grupo="2A" data-hora="10"  class="clase grupo-2A-hora-10"></td>
            <td data-grupo="3A" data-hora="10"  class="clase grupo-3A-hora-10"></td>
            <td data-grupo="KIDS" data-hora"10"  class="clase grupo-KIDS-hora-10"></td>
            <td data-grupo="FB" data-hora="10"  class="clase grupo-FB-hora-10"></td>
            <td data-grupo="FI" data-hora="10"  class="clase grupo-FI-hora-10"></td>
            <td data-grupo="FA" data-hora="10"  class="clase grupo-FA-hora-10"></td>
           
        </tr>
         <tr>
         	<td>11:00 am</td>
            <td data-grupo="1B" data-hora="11"  class="clase grupo-1B-hora-11"></td>
            <td data-grupo="2B" data-hora="11"  class="clase grupo-2B-hora-11"></td>
            <td data-grupo="3B" data-hora="11"  class="clase grupo-3B-hora-11"></td>
            <td data-grupo="1I" data-hora="11"  class="clase grupo-1I-hora-11"></td>
            <td data-grupo="2I" data-hora="11"  class="clase grupo-2I-hora-11"></td>
            <td data-grupo="3I" data-hora="11"  class="clase grupo-3I-hora-11"></td>
            <td data-grupo="1A" data-hora="11"  class="clase grupo-1A-hora-11"></td>
            <td data-grupo="2A" data-hora="11"  class="clase grupo-2A-hora-11"></td>
            <td data-grupo="3A" data-hora="11"  class="clase grupo-3A-hora-11"></td>
            <td data-grupo="KIDS" data-hora="11"  class="clase grupo-KIDS-hora-11"></td>
            <td data-grupo="FB" data-hora="11"  class="clase grupo-FB-hora-11"></td>
            <td data-grupo="FI" data-hora="11"  class="clase grupo-FI-hora-11"></td>
            <td data-grupo="FA" data-hora="11"  class="clase grupo-FA-hora-11"></td>
           
         </tr>
          <tr>
         	<td>12:00 pm</td>
            <td data-grupo="1B" data-hora="12"  class="clase grupo-1B-hora-12"></td>
            <td data-grupo="2B" data-hora="12"  class="clase grupo-2B-hora-12"></td>
            <td data-grupo="3B" data-hora="12"  class="clase grupo-3B-hora-12"></td>
            <td data-grupo="1I" data-hora="12"  class="clase grupo-1I-hora-12"></td>
            <td data-grupo="2I" data-hora="12"  class="clase grupo-2I-hora-12"></td>
            <td data-grupo="3I" data-hora="12"  class="clase grupo-3I-hora-12"></td>
            <td data-grupo="1A" data-hora="12"  class="clase grupo-1A-hora-12"></td>
            <td data-grupo="2A" data-hora="12"  class="clase grupo-2A-hora-12"></td>
            <td data-grupo="3A" data-hora="12"  class="clase grupo-3A-hora-12"></td>
            <td data-grupo="KIDS" data-hora="12"  class="clase grupo-KIDS-hora-12"></td>
            <td data-grupo="FB" data-hora="12"  class="clase grupo-FB-hora-12"></td>
            <td data-grupo="FI" data-hora="12"  class="clase grupo-FI-hora-12"></td>
            <td data-grupo="FA" data-hora="12"  class="clase grupo-FA-hora-12"></td>
           
         </tr>
          <tr>
         	<td>1:00 pm</td>
            <td data-grupo="1B" data-hora="13"  class="clase grupo-1B-hora-13"></td>
            <td data-grupo="2B" data-hora="13"  class="clase grupo-2B-hora-13"></td>
            <td data-grupo="3B" data-hora="13"  class="clase grupo-3B-hora-13"></td>
            <td data-grupo="1I" data-hora="13"  class="clase grupo-1I-hora-13"></td>
            <td data-grupo="2I" data-hora="13"  class="clase grupo-2I-hora-13"></td>
            <td data-grupo="3I" data-hora="13"  class="clase grupo-3I-hora-13"></td>
            <td data-grupo="1A" data-hora="13"  class="clase grupo-1A-hora-13"></td>
            <td data-grupo="2A" data-hora="13"  class="clase grupo-2A-hora-13"></td>
            <td data-grupo="3A" data-hora="13"  class="clase grupo-3A-hora-13"></td>
            <td data-grupo="KIDS" data-hora="13"  class="clase grupo-KIDS-hora-13"></td>
            <td data-grupo="FB" data-hora="13"  class="clase grupo-FB-hora-13"></td>
            <td data-grupo="FI" data-hora="13"  class="clase grupo-FI-hora-13"></td>
            <td data-grupo="FA" data-hora="13"  class="clase grupo-FA-hora-13"></td>
           
         </tr>
          
          <tr>
         	<td>2:00 pm</td>
            <td data-grupo="1B" data-hora="14"  class="clase grupo-1B-hora-14"></td>
            <td data-grupo="2B" data-hora="14"  class="clase grupo-2B-hora-14"></td>
            <td data-grupo="3B" data-hora="14"  class="clase grupo-3B-hora-14"></td>
            <td data-grupo="1I" data-hora="14"  class="clase grupo-1I-hora-14"></td>
            <td data-grupo="2I" data-hora="14"  class="clase grupo-2I-hora-14"></td>
            <td data-grupo="3I" data-hora="14"  class="clase grupo-3I-hora-14"></td>
            <td data-grupo="1A" data-hora="14"  class="clase grupo-1A-hora-14"></td>
            <td data-grupo="2A" data-hora="14"  class="clase grupo-2A-hora-14"></td>
            <td data-grupo="3A" data-hora="14"  class="clase grupo-3A-hora-14"></td>
            <td data-grupo="KIDS" data-hora="14"  class="clase grupo-KIDS-hora-14"></td>
            <td data-grupo="FB" data-hora="14"  class="clase grupo-FB-hora-14"></td>
            <td data-grupo="FI" data-hora="14"  class="clase grupo-FI-hora-14"></td>
            <td data-grupo="FA" data-hora="14"  class="clase grupo-FA-hora-14"></td>
           
         </tr>
          <tr>
         	<td>3:00 pm</td>
            <td data-grupo="1B" data-hora="15"  class="clase grupo-1B-hora-15"></td>
            <td data-grupo="2B" data-hora="15"  class="clase grupo-2B-hora-15"></td>
            <td data-grupo="3B" data-hora="15"  class="clase grupo-3B-hora-15"></td>
            <td data-grupo="1I" data-hora="15"  class="clase grupo-1I-hora-15"></td>
            <td data-grupo="2I" data-hora="15"  class="clase grupo-2I-hora-15"></td>
            <td data-grupo="3I" data-hora="15"  class="clase grupo-3I-hora-15"></td>
            <td data-grupo="1A" data-hora="15"  class="clase grupo-1A-hora-15"></td>
            <td data-grupo="2A" data-hora="15"  class="clase grupo-2A-hora-15"></td>
            <td data-grupo="3A" data-hora="15"  class="clase grupo-3A-hora-15"></td>
            <td data-grupo="KIDS" data-hora="15"  class="clase grupo-KIDS-hora-15"></td>
            <td data-grupo="FB" data-hora="15"  class="clase grupo-FB-hora-15"></td>
            <td data-grupo="FI" data-hora="15"  class="clase grupo-FI-hora-15"></td>
            <td data-grupo="FA" data-hora="15"  class="clase grupo-FA-hora-15"></td>
           
         </tr>
          <tr>
         	<td>4:00 pm</td>
            <td data-grupo="1B" data-hora="16"  class="clase grupo-1B-hora-16"></td>
            <td data-grupo="2B" data-hora="16"  class="clase grupo-2B-hora-16"></td>
            <td data-grupo="3B" data-hora="16"  class="clase grupo-3B-hora-16"></td>
            <td data-grupo="1I" data-hora="16"  class="clase grupo-1I-hora-16"></td>
            <td data-grupo="2I" data-hora="16"  class="clase grupo-2I-hora-16"></td>
            <td data-grupo="3I" data-hora="16"  class="clase grupo-3I-hora-16"></td>
            <td data-grupo="1A" data-hora="16"  class="clase grupo-1A-hora-16"></td>
            <td data-grupo="2A" data-hora="16"  class="clase grupo-2A-hora-16"></td>
            <td data-grupo="3A" data-hora="16"  class="clase grupo-3A-hora-16"></td>
            <td data-grupo="KIDS" data-hora="16"  class="clase grupo-KIDS-hora-16"></td>
            <td data-grupo="FB" data-hora="16"  class="clase grupo-FB-hora-16"></td>
            <td data-grupo="FI" data-hora="16"  class="clase grupo-FI-hora-16"></td>
            <td data-grupo="FA" data-hora="16"  class="clase grupo-FA-hora-16"></td>
           
         </tr>
          <tr>
         	<td>5:00 pm</td>
            <td data-grupo="1B" data-hora="17"  class="clase grupo-1B-hora-17"></td>
            <td data-grupo="2B" data-hora="17"  class="clase grupo-2B-hora-17"></td>
            <td data-grupo="3B" data-hora="17"  class="clase grupo-3B-hora-17"></td>
            <td data-grupo="1I" data-hora="17"  class="clase grupo-1I-hora-17"></td>
            <td data-grupo="2I" data-hora="17"  class="clase grupo-2I-hora-17"></td>
            <td data-grupo="3I" data-hora="17"  class="clase grupo-3I-hora-17"></td>
            <td data-grupo="1A" data-hora="17"  class="clase grupo-1A-hora-17"></td>
            <td data-grupo="2A" data-hora="17"  class="clase grupo-2A-hora-17"></td>
            <td data-grupo="3A" data-hora="17"  class="clase grupo-3A-hora-17"></td>
            <td data-grupo="KIDS" data-hora="17"  class="clase grupo-KIDS-hora-17"></td>
            <td data-grupo="FB" data-hora="17"  class="clase grupo-FB-hora-17"></td>
            <td data-grupo="FI" data-hora="17"  class="clase grupo-FI-hora-17"></td>
            <td data-grupo="FA" data-hora="17"  class="clase grupo-FA-hora-17"></td>
           
         </tr>
          <tr>
         	<td>6:00 pm</td>
            <td data-grupo="1B" data-hora="18"  class="clase grupo-1B-hora-18"></td>
            <td data-grupo="2B" data-hora="18"  class="clase grupo-2B-hora-18"></td>
            <td data-grupo="3B" data-hora="18"  class="clase grupo-3B-hora-18"></td>
            <td data-grupo="1I" data-hora="18"  class="clase grupo-1I-hora-18"></td>
            <td data-grupo="2I" data-hora="18"  class="clase grupo-2I-hora-18"></td>
            <td data-grupo="3I" data-hora="18"  class="clase grupo-3I-hora-18"></td>
            <td data-grupo="1A" data-hora="18"  class="clase grupo-1A-hora-18"></td>
            <td data-grupo="2A" data-hora="18"  class="clase grupo-2A-hora-18"></td>
            <td data-grupo="3A" data-hora="18"  class="clase grupo-3A-hora-18"></td>
            <td data-grupo="KIDS" data-hora="18"  class="clase grupo-KIDS-hora-18"></td>
            <td data-grupo="FB" data-hora="18"  class="clase grupo-FB-hora-18"></td>
            <td data-grupo="FI" data-hora="18"  class="clase grupo-FI-hora-18"></td>
            <td data-grupo="FA" data-hora="18"  class="clase grupo-FA-hora-18"></td>
           
         </tr>
          <tr>
         	<td>7:00 pm</td>
            <td data-grupo="1B" data-hora="19"  class="clase grupo-1B-hora-19"></td>
            <td data-grupo="2B" data-hora="19"  class="clase grupo-2B-hora-19"></td>
            <td data-grupo="3B" data-hora="19"  class="clase grupo-3B-hora-19"></td>
            <td data-grupo="1I" data-hora="19"  class="clase grupo-1I-hora-19"></td>
            <td data-grupo="2I" data-hora="19"  class="clase grupo-2I-hora-19"></td>
            <td data-grupo="3I" data-hora="19"  class="clase grupo-3I-hora-19"></td>
            <td data-grupo="1A" data-hora="19"  class="clase grupo-1A-hora-19"></td>
            <td data-grupo="2A" data-hora="19"  class="clase grupo-2A-hora-19"></td>
            <td data-grupo="3A" data-hora="19"  class="clase grupo-3A-hora-19"></td>
            <td data-grupo="KIDS" data-hora="19"  class="clase grupo-KIDS-hora-19"></td>
            <td data-grupo="FB" data-hora="19"  class="clase grupo-FB-hora-19"></td>
            <td data-grupo="FI" data-hora="19"  class="clase grupo-FI-hora-19"></td>
            <td data-grupo="FA" data-hora="19"  class="clase grupo-FA-hora-19"></td>
           
         </tr>
          <tr>
         	<td>8:00 pm</td>
            <td data-grupo="1B" data-hora="20"  class="clase grupo-1B-hora-20"></td>
            <td data-grupo="2B" data-hora="20"  class="clase grupo-2B-hora-20"></td>
            <td data-grupo="3B" data-hora="20"  class="clase grupo-3B-hora-20"></td>
            <td data-grupo="1I" data-hora="20"  class="clase grupo-1I-hora-20"></td>
            <td data-grupo="2I" data-hora="20"  class="clase grupo-2I-hora-20"></td>
            <td data-grupo="3I" data-hora="20"  class="clase grupo-3I-hora-20"></td>
            <td data-grupo="1A" data-hora="20"  class="clase grupo-1A-hora-20"></td>
            <td data-grupo="2A" data-hora="20"  class="clase grupo-2A-hora-20"></td>
            <td data-grupo="3A" data-hora="20"  class="clase grupo-3A-hora-20"></td>
            <td data-grupo="KIDS" data-hora="20"  class="clase grupo-KIDS-hora-20"></td>
            <td data-grupo="FB" data-hora="20"  class="clase grupo-FB-hora-20"></td>
            <td data-grupo="FI" data-hora="20"  class="clase grupo-FI-hora-20"></td>
            <td data-grupo="FA" data-hora="20"  class="clase grupo-FA-hora-20"></td>
           
         </tr> 
      
        
	 </tbody>
	 </table>
</div>


     
	    </div>
</div>
			
{% endblock %}