<html>
    <head>
    
    <script type="text/javascript">
        function imprSelec(muestra)
        {var ficha=document.getElementById(muestra);var ventimp=window.open(' ','popimpr');ventimp.document.write(ficha.innerHTML);ventimp.document.close();ventimp.print();ventimp.close();}
    </script>
    
    <script>
    var claseID = "{{ clase.id }}";
    
function activate_delete_alumnos(total){
	   $('#{{ clase.id }}').text(" "+total);
       $('.alumnos-remove').click(function(){
        var alumnoID = $(this).attr('id');
        $.ajax({
         type:'POST',
         url: '/borrar/alumno/'+alumnoID+'/',
         dataType: 'json',
         beforeSend: function() {
         //    $('#loading').show();
         },
         complete: function(){
           //  $('#loading').hide();
         },
         data: { },
         success: function(response) {
         	$.noty.closeAll()
           noty({text: 'Se elimino el alumno de la clase' , type: 'error',timeout: 8000, dismissQueue: true,});
		        $.noty.clearQueue();
            $.post( "/tabla/alumnos/clase/"+claseID+"/", function( data ) {
			  $('.alumnos-table tbody').html('');
			  $('.alumnos-table tbody').html(data.tabla_alumnos);
			         activate_delete_alumnos(data.total);               
			        });
             },
             onCleanup:function(){
                 
          
         },
         error: function(XMLHttpRequest, textStatus, errorThrown) {
             //TODO Place proper error message 
                //alert('sucedio un error al intentar actualizar la clase');
            }  
     
     });                    
                            
                        
 });



}
    
    
     $(document).ready(function(){
     
	   activate_delete_alumnos("{{ clase.alumnos.count }}");              
	     
       $('#select-alumnos').select2({width:'500px',placeholder: "Selecciona un alumno"});                           
                
       $('#add-alumno').click(function(){
         $('#seleccionar-alumnos').toggle();
         $('#agregar-alumnos').toggle();
       });
                                  
       
       $('#guardar-new-alumno').click(function(){
       
	       var matriculaAlumno = $('#matricula-alumno').val();
	       var nombreAlumno = $('#nombre-alumno').val();
	       
	       if (matriculaAlumno && nombreAlumno){
		        $.post( "/guardar/nuevo/alumno/clase/"+claseID+"/", {'nombre':nombreAlumno,'matricula':matriculaAlumno}, function( data ) {
		        			$('#matricula-alumno').val('');
		        			$('#nombre-alumno').val('');
    			$.noty.closeAll()
    			noty({text: 'Se agrego con exito al alumno en la clase</br>Nombre: <b>'+nombreAlumno+'</b> Matricula: <b>'+matriculaAlumno+'</b>' , type: 'success',timeout: 8000, dismissQueue: true,});
		        $.noty.clearQueue();
						  $.post( "/tabla/alumnos/clase/"+claseID+"/", function( data ) {
							  $('.alumnos-table tbody').html('');
							  $('.alumnos-table tbody').html(data.tabla_alumnos);
							   activate_delete_alumnos(data.total);       
						});     
				});
	       }
	       else{
	       $.noty.closeAll()
	        noty({text: 'Es necesario ingresar nombre y matricula del nuevo alumno para poder agregarlo en la clase' , type: 'warning',timeout: 8000, dismissQueue: true,});
		        $.noty.clearQueue();
	       }
       
       });   
                               
       $('#guardar-alumno-select').click(function(){
        var alumnoID = $('#select-alumnos').val();
          $.ajax({
            type:'POST',
            url: '/guardar/alumno/'+alumnoID+'/clase/'+claseID+'/',
            dataType: 'json',
            beforeSend: function() {
                $('#loading').show();
            },
            complete: function(){
                $('#loading').hide();
            },
            success: function(response) {
                if(response.error){
                console.log('ya existe ese alumno')
                $.noty.closeAll()
                noty({text: 'El alumno ya se encuentra inscrito en la clase' , type: 'warning',timeout: 8000, dismissQueue: true,});
		        $.noty.clearQueue();
                }
                else{
                $.noty.closeAll()
                noty({text: 'Se agrego con exito al alumno' , type: 'success',timeout: 8000, dismissQueue: true,});
		        $.noty.clearQueue();
                $.post( "/tabla/alumnos/clase/"+claseID+"/", function( data ) {
				  $('.alumnos-table tbody').html('');
				  $('.alumnos-table tbody').html(data.tabla_alumnos);
				   activate_delete_alumnos(data.total);       
				});
                
                }                                 
            },
            error: function(XMLHttpRequest, textStatus, errorThrown) {
                //TODO Place proper error message 
                   //alert('sucedio un error al intentar actualizar la clase');
               }  
        
        });
          
                                                    
       });                  
    });
    </script>
    </head>
    
    <body>
        <div class="container" style="width:850px;" >
            <div class="jumbotron">
            
            <div class="lista-alumnos multilingual-bg" style="color:white; border-radius:15px; text-align:center; padding:0px;">
                <span id="add-alumno" title="Agregar un nuevo alumno" style="cursor:pointer;" class="agregar-alumno glyphicon glyphicon-plus-sign"></span>
                Alumnos {{ clase.grupo.nombre }} - {{ clase.hora.verbose_name }}
               <a href="javascript:imprSelec('muestra')"><span style="cursor:pointer;" class="impresora glyphicon glyphicon-print"></span></a>
            </div>
            <div id="seleccionar-alumnos" class="alumnos-container" style="padding:15px; margin-bottom:20px; padding:14px;">
                Nombre:
                <select id="select-alumnos">
                    <option value=""></option>
                    {% for alumno in alumnos_globales %}
                    <option value="{{ alumno.id }}">{{ alumno.nombre }}
                    {% endfor %}
                </select>
                <span title="Agregar nuevo alumno" id="guardar-alumno-select" style="cursor:pointer;" class="alumnos-save green glyphicon glyphicon-ok-sign"></span>
            </div>
            
            
            
            <div id="agregar-alumnos" class="alumnos-container" style="display:none; margin-bottom:20px; padding:14px;">
                Nombre: <input id="nombre-alumno" style="border-radius:10px; line-height:27px; width:290px; height:44px; padding:10px; text-align:center;"type="text" placeholder="Nombre del alumno"/>
                <span style="margin-left:15px;">Matricula:</span> <input id="matricula-alumno" style="border-radius:10px; width:110px; line-height:27px; height:44px; padding:10px; text-align:center;" type="text" placeholder="Matricula"/>
                <span title="Agregar nuevo alumno" id="guardar-new-alumno" style="cursor:pointer;" class="alumnos-save green glyphicon glyphicon-ok-sign"></span>
                
            </div>
            <div id="muestra" class="alumnos-container" style="padding:22px;">
                <table class="alumnos-table table table-striped">
                    <thead>
                    <tr style="">
                    
                        <td  style="background-color:#5B0104 !important; color:white; text-align:center;">#</td>
                        <td style="background-color:#5B0104 !important; color:white; text-align:center;">Matricula</td>
                        <td style="background-color:#5B0104 !important; color:white; text-align:center;">Nombre</td>
                        <td style="background-color:#5B0104 !important; color:white; text-align:center;"></td>
                    </tr>
                    </thead>
                    <tbody>
                    {% for alumno in alumnos %}
                        <tr>
                          <td>{{ forloop.counter }}</td>  
                          <td>{{ alumno.alumno.matricula }}</td>
                          <td style="text-align:left;">{{ alumno.alumno.nombre }}</td>
                          <td style="text-align:left;"> <span id="{{alumno.id}}" style="color:#ff262d; cursor:pointer;" class="alumnos-remove alumnos-save glyphicon glyphicon-remove-circle"></span></td>
                        </tr>
                    {% endfor %}
                    </tbody>
                    
                      
                </table>
                </div>
            </div>
        </div>
    </body>
    
</html>