{% extends "base.html" %}
{% load static %}
{% block extra_head %}
	<script type="text/javascript" src="{% static "js/clases.js" %}"></script>
{% endblock %}
{% block content %}
<div class="text-center col-lg-12">
		<div class=" title-main-table">
			 Horarios del 
			 <span class="green">{{ semana_actual.0|date:"d" }}</span> al
			 <span class="green">{{ semana_actual.6|date:"d" }}</span> de
			 <span class="green">{{ semana_actual.0|date:"F \d\e\l Y" }}</span>
		</div> 
	    <table class="week-day-picker table table-striped ">
				<tr>
				{% for dia in semana_actual %}
					<td data-fecha="{{ dia|date:"d/m/y" }}" class="escoger-fecha" >{{ dia|date:"l" }}
						<div>{{ dia|date:"d" }}</div>
					</td>
				{% endfor %}
				</tr>
	    </table>
	    <div id="tabla-clases">
	    	
	    	
	<table align="center" border="2" class="hora">
  	 <tbody>
     	<tr>
            <td rowspan="2">HORA</td>
            <td colspan="10">INGLES</td>
            <td colspan="3">FRANCES</td>
        </tr>
        <tr>
            <td>1B</td>
            <td>2B</td>
            <td>3B</td>
            <td>1I</td>
            <td>2I</td>
            <td>3I</td>
            <td>1A</td>
            <td>2A</td>
            <td>3A</td>
            <td>KIDS</td>
            <td>BASICO</td>
            <td>INTERMEDIO</td>
            <td>AVANZADO</td>
         </tr>
         <tr>
         	<td>7:00 am</td>
            <td id="grupo-1B-hora-7"></td>
            <td id="grupo-2B-hora-7"></td>
            <td id="grupo-3B-hora-7"></td>
            <td id="grupo-1I-hora-7"></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
         </tr>
         <tr>
         	<td>8:00 am</td>
            <td>Big Room </td>
            <td>Big Room</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
           
         </tr>
          <tr>
         	<td>9:00 am</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
           
         </tr>
         <tr>
         	<td>10:00 am</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
           
        </tr>
         <tr>
         	<td>11:00 am</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
           
         </tr>
          <tr>
         	<td>12:00 pm</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
           
         </tr>
          <tr>
         	<td>1:00 pm</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
           
         </tr>
          
          <tr>
         	<td>2:00 pm</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
           
         </tr>
          <tr>
         	<td>3:00 pm</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
           
         </tr>
          <tr>
         	<td>4:00 pm</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
           
         </tr>
          <tr>
         	<td>5:00 pm</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
           
         </tr>
          <tr>
         	<td>6:00 pm</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
           
         </tr>
          <tr>
         	<td>7:00 pm</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
           
         </tr>
          <tr>
         	<td>8:00 pm</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
           
         </tr> 
      
        
	 </tbody>
	 </table>
     
	    </div>
</div>
			
{% endblock %}