.green-badge{
	background-color:#246400;
	color:#F4FFFF;
}

.blue-badge{
	background-color:#1C6099;
	color:#F4FFFF;
}
.red-badge{
	background-color:#C23A33;
	color:#F4FFFF;
}

.light-red{
	color:#FD8282;
}

.light-green{
	color:#9FD541;
}

.red{
	color:#c43936;
}
.green{
	color:#608c02;
}

.gold{
	color:#c9872c;
}
.red-bg{
	background-color:#c43936;
}
.green-bg{
	background-color:#608c02;
}

.gold-bg{
	background-color:#c9872c;
}


/* Seccion principal */

.title-main-table{
	margin-bottom:20px;
	margin-top:-50px;
	font-size:1.7em;
	font-weight:bold;
}

.week-day-picker{
	font-size:1.3em;
	boder-top:0px !important;
}

.week-day-picker {
	cursor:pointer;
	boder-top:0px !important;
}
.week-day-picker td{
	font-weight:bold;
	font-size:1.1em;
	background-color:#eeeeee;
}

.week-day-picker td:hover{
	background-color:#e0e0e0;
	/*color:#1C6099;*/
}

.week-day-picker td>div{
	font-size:0.8em;
	font-weight:normal;
	color:#c43936;
}

.activo{
	background-color:#e0e0e0 !important;
	
}

.hora{
	table-layout: fixed;
}

.hora td {
  text-align: center;
  vertical-align: central;
  border: 1px solid #000;
  border-collapse: collapse;
  width:6%;
 /* padding:5px;*/
  font-weight:bold;
  

}

.hora table {
	padding:0px;
    margin:0px;
    border-spacing: 0px;
    width: 120% !important;
}


.odd{
	background: #ccc;
}

.clase div{
/*	border-radius:7px;
	padding:1px;
	margin-top:1px;
	margin-bottom:1px;*/
	color:white;
	font-size:13px;
	padding-top:10px;
	padding-bottom:10px;
}
.BIGROOM{
	background-color:red;
}
.LONDON{
	background-color:green;
}
.NEWYORK{
	background-color:purple;
}
.PARIS{
	background-color:#FF57A6;
}
.VEGAS{
	background-color:#c9872c;
}
.MIAMI{
	background-color:#1F73F1!important;
}
.DYNAMIC{
	background-color:#0EBCAF;
}
.MIAMI{
	background-color:#CDC5D3;
}
.KIDSROOM{
	background-color:#FBAD03;
}
.BEIJING{
	background-color:#F83D0B;
}

.loading-gif{
	position:absolute;
}

.clase{
	cursor: pointer;	
}

#saloncitos{
	margin-right:20px;
	border-radius:15px; 
	border:4px solid #cccccc;
	padding:15px;
	background-color:#eeeeee;
	padding-top:5px;
}
#saloncitos div{
	border-radius:7px;
	padding:1px;
	margin-top:1px;
	margin-bottom:1px;
	color:white;
	font-size:0.9em;
	cursor: pointer;
}
#saloncitos div:hover{
	border:2px solid black;
}
.salon-activo{
	border:2px solid black;
}

tr.grupos td{
	width:180px !important;
}

.hora tr{
	height:35px;
}

.tabla-admin{
	width:85%;
}

#loading{
	display:none;
	position:absolute;
	margin-top:100px;
	margin-left:35%;

}
.colorbox-link, .colorbox-link:hover{
	text-decoration:none !important;	
}

.alumnos-table{
	text-align:center;
	font-size:0.9em;
	font-weight:bold;			
}

.lista-alumnos{
	font-size: 1.7em;
	text-align: center;
	margin-top: -23px;
	margin-bottom: 27px;
			
}
.alumnos-container{
	background-color:white;
	padding:7px;
    border:3px solid #cccccc;
    border-radius:15px;
}

.alumnos-save{
	margin-right: 15px;
	float: right; 
	margin-top: 0px; 
	font-size: 34px;
}
.multilingual{
	color:#5B0104;		
}
.multilingual-bg{
	background-color:#5B0104;
}

.impresora{
	margin-right: -100px;
	margin-top: 21px;
	float: left;
	margin-left: 52px;
	font-size: 28px;
	color: white;
}

.agregar-alumno{
   margin-left: -76px;
	margin-top: 16px;
	margin-right: 36px;
	float: right;
}

.select2-container .select2-choice {
    display: block;
    line-height:40px;
    text-aling:center;
    height: 40px;
    padding: 0 0 0 8px;
    overflow: hidden;
    position: relative;
}

.color-ingles{
background: rgb(179,34,21) !important; /* Old browsers */
background: -moz-linear-gradient(top,  rgba(179,34,21,1) 1%, rgba(241,45,27,1) 71%, rgba(232,86,72,1) 98%) !important; /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,rgba(179,34,21,1)), color-stop(71%,rgba(241,45,27,1)), color-stop(98%,rgba(232,86,72,1))) !important; /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(179,34,21,1) 1%,rgba(241,45,27,1) 71%,rgba(232,86,72,1) 98%) !important; /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(179,34,21,1) 1%,rgba(241,45,27,1) 71%,rgba(232,86,72,1) 98%) !important; /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(179,34,21,1) 1%,rgba(241,45,27,1) 71%,rgba(232,86,72,1) 98%) !important; /* IE10+ */
background: linear-gradient(to bottom,  rgba(179,34,21,1) 1%,rgba(241,45,27,1) 71%,rgba(232,86,72,1) 98%) !important; /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b32215', endColorstr='#e85648',GradientType=0 ) !important; /* IE6-9 */
color:white;
}
							
.color-frances{
	background: #d0e4f7 !important; /* Old browsers */
	background: -moz-linear-gradient(top,  #d0e4f7 0%, #73b1e7 24%, #0a77d5 50%, #539fe1 79%, #87bcea 100%) !important; /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#d0e4f7), color-stop(24%,#73b1e7), color-stop(50%,#0a77d5), color-stop(79%,#539fe1), color-stop(100%,#87bcea)) !important; /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #d0e4f7 0%,#73b1e7 24%,#0a77d5 50%,#539fe1 79%,#87bcea 100%) !important; /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #d0e4f7 0%,#73b1e7 24%,#0a77d5 50%,#539fe1 79%,#87bcea 100%) !important; /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #d0e4f7 0%,#73b1e7 24%,#0a77d5 50%,#539fe1 79%,#87bcea 100%) !important; /* IE10+ */
	background: linear-gradient(to bottom,  #d0e4f7 0%,#73b1e7 24%,#0a77d5 50%,#539fe1 79%,#87bcea 100%) !important; /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d0e4f7', endColorstr='#87bcea',GradientType=0 ) !important; /* IE6-9 */
	color: white !important;
}

.color-hora{
	background: #b4e391 !important; /* Old browsers */
	background: -moz-linear-gradient(top,  #b4e391 0%, #61c419 57%, #b4e391 100%) !important; /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#b4e391), color-stop(57%,#61c419), color-stop(100%,#b4e391)) !important; /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #b4e391 0%,#61c419 57%,#b4e391 100%) !important; /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #b4e391 0%,#61c419 57%,#b4e391 100%) !important; /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #b4e391 0%,#61c419 57%,#b4e391 100%) !important; /* IE10+ */
	background: linear-gradient(to bottom,  #b4e391 0%,#61c419 57%,#b4e391 100%) !important; /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b4e391', endColorstr='#b4e391',GradientType=0 ) !important; /* IE6-9 */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d0e4f7', endColorstr='#87bcea',GradientType=0 ) !important; /* IE6-9 */
	color: white !important;
}

.abc{

background: rgb(184,22,81) !important; /* Old browsers */
background: -moz-linear-gradient(top,  rgba(184,22,81,1) 1%, rgba(241,37,112,1) 71%, rgba(232,82,137,1) 98%) !important; /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,rgba(184,22,81,1)), color-stop(71%,rgba(241,37,112,1)), color-stop(98%,rgba(232,82,137,1))) !important; /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(184,22,81,1) 1%,rgba(241,37,112,1) 71%,rgba(232,82,137,1) 98%) !important; /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(184,22,81,1) 1%,rgba(241,37,112,1) 71%,rgba(232,82,137,1) 98%) !important; /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(184,22,81,1) 1%,rgba(241,37,112,1) 71%,rgba(232,82,137,1) 98%) !important; /* IE10+ */
background: linear-gradient(to bottom,  rgba(184,22,81,1) 1%,rgba(241,37,112,1) 71%,rgba(232,82,137,1) 98%) !important; /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b81651', endColorstr='#e85289',GradientType=0 ) !important; /* IE6-9 */



}
.defg{
	background: #fb83fa !important; /* Old browsers */
	background: -moz-linear-gradient(top,  #fb83fa 0%, #e93cec 100%) !important; /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fb83fa), color-stop(100%,#e93cec)) !important; /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #fb83fa 0%,#e93cec 100%) !important; /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #fb83fa 0%,#e93cec 100%) !important; /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #fb83fa 0%,#e93cec 100%) !important; /* IE10+ */
	background: linear-gradient(to bottom,  #fb83fa 0%,#e93cec 100%) !important; /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fb83fa', endColorstr='#e93cec',GradientType=0 ) !important; /* IE6-9 */

}
							
.hij{

background: #d2ff52 !important; /* Old browsers */
background: -moz-linear-gradient(top,  #d2ff52 0%, #91e842 100%) !important; /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#d2ff52), color-stop(100%,#91e842)) !important; /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #d2ff52 0%,#91e842 100%) !important; /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #d2ff52 0%,#91e842 100%) !important; /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #d2ff52 0%,#91e842 100%) !important; /* IE10+ */
background: linear-gradient(to bottom,  #d2ff52 0%,#91e842 100%) !important; /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d2ff52', endColorstr='#91e842',GradientType=0 ) !important; /* IE6-9 */
}

.abc2{

background: rgb(235,17,64) !important; /* Old browsers */
background: -moz-linear-gradient(top,  rgba(235,17,64,1) 1%, rgba(249,89,124,1) 71%, rgba(246,138,162,1) 98%) !important; /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,rgba(235,17,64,1)), color-stop(71%,rgba(249,89,124,1)), color-stop(98%,rgba(246,138,162,1))) !important; /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(235,17,64,1) 1%,rgba(249,89,124,1) 71%,rgba(246,138,162,1) 98%) !important; /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(235,17,64,1) 1%,rgba(249,89,124,1) 71%,rgba(246,138,162,1) 98%) !important; /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(235,17,64,1) 1%,rgba(249,89,124,1) 71%,rgba(246,138,162,1) 98%) !important; /* IE10+ */
background: linear-gradient(to bottom,  rgba(235,17,64,1) 1%,rgba(249,89,124,1) 71%,rgba(246,138,162,1) 98%) !important; /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eb1140', endColorstr='#f68aa2',GradientType=0 ) !important; /* IE6-9 */


}

.abc1{
background: rgb(255,43,117) !important; /* Old browsers */
background: -moz-linear-gradient(top,  rgba(255,43,117,1) 1%, rgba(255,113,163,1) 71%, rgba(255,151,187,1) 98%) !important; /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,rgba(255,43,117,1)), color-stop(71%,rgba(255,113,163,1)), color-stop(98%,rgba(255,151,187,1))) !important; /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(255,43,117,1) 1%,rgba(255,113,163,1) 71%,rgba(255,151,187,1) 98%) !important; /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(255,43,117,1) 1%,rgba(255,113,163,1) 71%,rgba(255,151,187,1) 98%) !important; /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(255,43,117,1) 1%,rgba(255,113,163,1) 71%,rgba(255,151,187,1) 98%) !important; /* IE10+ */
background: linear-gradient(to bottom,  rgba(255,43,117,1) 1%,rgba(255,113,163,1) 71%,rgba(255,151,187,1) 98%) !important; /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff2b75', endColorstr='#ff97bb',GradientType=0 ) !important; /* IE6-9 */


}



												
																			
.hora td{
	background: #f2f6f8; /* Old browsers */
	background: -moz-linear-gradient(top,  #f2f6f8 0%, #d8e1e7 11%, #b5c6d0 51%, #e0eff9 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f2f6f8), color-stop(11%,#d8e1e7), color-stop(51%,#b5c6d0), color-stop(100%,#e0eff9)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #f2f6f8 0%,#d8e1e7 11%,#b5c6d0 51%,#e0eff9 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #f2f6f8 0%,#d8e1e7 11%,#b5c6d0 51%,#e0eff9 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #f2f6f8 0%,#d8e1e7 11%,#b5c6d0 51%,#e0eff9 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #f2f6f8 0%,#d8e1e7 11%,#b5c6d0 51%,#e0eff9 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2f6f8', endColorstr='#e0eff9',GradientType=0 ); /* IE6-9 */

	
}
							