.green-badge{
	background-color:#246400;
	color:#F4FFFF;
}

.blue-badge{
	background-color:#1C6099;
	color:#F4FFFF;
}
.red-badge{
	background-color:#C23A33;
	color:#F4FFFF;
}

.light-red{
	color:#FD8282;
}

.light-green{
	color:#9FD541;
}

.red{
	color:#c43936;
}
.green{
	color:#608c02;
}

.gold{
	color:#c9872c;
}
.red-bg{
	background-color:#c43936;
}
.green-bg{
	background-color:#608c02;
}

.gold-bg{
	background-color:#c9872c;
}


/* Seccion principal */

.title-main-table{
	margin-bottom:20px;
	margin-top:-50px;
	font-size:1.7em;
	font-weight:bold;
}

.week-day-picker{
	font-size:1.3em;
	boder-top:0px !important;
}

.week-day-picker {
	cursor:pointer;
	boder-top:0px !important;
}
.week-day-picker td{
	font-weight:bold;
	font-size:1.1em;
	background-color:#eeeeee !important;
}

.week-day-picker td:hover{
	background-color:#e0e0e0 !important;
	/*color:#1C6099;*/
}

.week-day-picker td>div{
	font-size:0.8em;
	font-weight:normal;
	color:#c43936;
}




.hora td {
  text-align: center;
  vertical-align: central;
  border: 1px solid #000;
  border-collapse: collapse;
  width:90px;
  padding:5px;
  font-weight:bold;
  

}

.hora table {
	padding:0px;
    margin:0px;
    border-spacing: 0px;
    width: 120% !important;
}


.odd{
	background: #ccc;
}

.clase div{
	border-radius:7px;
	padding:1px;
	margin-top:1px;
	margin-bottom:1px;
	color:white;
	font-size:0.9em;
}
.BIGROOM{
	background-color:red;
}
.LONDON{
	background-color:green;
}

.loading-gif{
	position:absolute;
}