.green-badge{
	background-color:#246400;
	color:#F4FFFF;
}

.blue-badge{
	background-color:#1C6099;
	color:#F4FFFF;
}
.red-badge{
	background-color:#C23A33;
	color:#F4FFFF;
}

.light-red{
	color:#FD8282;
}

.light-green{
	color:#9FD541;
}

.red{
	color:#c43936;
}
.green{
	color:#608c02;
}

.gold{
	color:#c9872c;
}
.red-bg{
	background-color:#c43936;
}
.green-bg{
	background-color:#608c02;
}

.gold-bg{
	background-color:#c9872c;
}


/* Seccion principal */

.title-main-table{
	margin-bottom:20px;
	margin-top:-50px;
	font-size:1.7em;
	font-weight:bold;
}

.week-day-picker{
	font-size:1.3em;
	boder-top:0px !important;
}

.week-day-picker {
	cursor:pointer;
	boder-top:0px !important;
}
.week-day-picker td{
	font-weight:bold;
	font-size:1.1em;
	background-color:#eeeeee;
}

.week-day-picker td:hover{
	background-color:#e0e0e0;
	/*color:#1C6099;*/
}

.week-day-picker td>div{
	font-size:0.8em;
	font-weight:normal;
	color:#c43936;
}

.activo{
	background-color:#e0e0e0 !important;
	
}



.hora td {
  text-align: center;
  vertical-align: central;
  border: 1px solid #000;
  border-collapse: collapse;
  width:90px;
  padding:5px;
  font-weight:bold;
  

}

.hora table {
	padding:0px;
    margin:0px;
    border-spacing: 0px;
    width: 120% !important;
}


.odd{
	background: #ccc;
}

.clase div{
	border-radius:7px;
	padding:1px;
	margin-top:1px;
	margin-bottom:1px;
	color:white;
	font-size:0.9em;
}
.BIGROOM{
	background-color:red;
}
.LONDON{
	background-color:green;
}
.NEWYORK{
	background-color:purple;
}
.PARIS{
	background-color:#FF57A6;
}
.VEGAS{
	background-color:#c9872c;
}
.MIAMI{
	background-color:#1F73F1!important;
}
.DYNAMIC{
	background-color:#0EBCAF;
}
.MIAMI{
	background-color:#CDC5D3;
}
.KIDS{
	background-color:#FDD500;
}
.BEIJING{
	background-color:#F83D0B;
}

.loading-gif{
	position:absolute;
}

.clase{
	cursor: pointer;	
}

#saloncitos{
	margin-right:20px;
	border-radius:15px; 
	border:4px solid #cccccc;
	padding:15px;
	background-color:#eeeeee;
	padding-top:5px;
}
#saloncitos div{
	border-radius:7px;
	padding:1px;
	margin-top:1px;
	margin-bottom:1px;
	color:white;
	font-size:0.9em;
	cursor: pointer;
}
#saloncitos div:hover{
	border:2px solid black;
}
.salon-activo{
	border:2px solid black;
}

